app/config/__pycache__/__init__.cpython-310.pyc
app/config/__pycache__/config.cpython-310.pyc
.env
app/auth/__pycache__/__init__.cpython-310.pyc
app/auth/__pycache__/oauth2.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/main.cpython-310.pyc
app/auth/__pycache__/auth.cpython-310.pyc
app/db/__pycache__/__init__.cpython-310.pyc
app/db/__pycache__/crud.cpython-310.pyc
app/db/__pycache__/database.cpython-310.pyc
app/models/__pycache__/__init__.cpython-310.pyc
app/models/__pycache__/login_model.cpython-310.pyc
app/models/__pycache__/offer_model.cpython-310.pyc
app/models/__pycache__/product_model.cpython-310.pyc
app/models/__pycache__/read_models.cpython-310.pyc
app/routers/__pycache__/__init__.cpython-310.pyc
app/routers/__pycache__/login.cpython-310.pyc
app/routers/__pycache__/products.cpython-310.pyc
app/tests/__pycache__/__init__.cpython-310.pyc
app/tests/__pycache__/conftest.cpython-310-pytest-7.1.2.pyc
app/tests/tests_routers/__pycache__/__init__.cpython-310.pyc
app/tests/tests_routers/__pycache__/test_login.cpython-310-pytest-7.1.2.pyc
app/tests/tests_routers/__pycache__/test_products.cpython-310-pytest-7.1.2.pyc
app/tests/tests_utils/__pycache__/__init__.cpython-310.pyc
app/tests/tests_utils/__pycache__/test_utils.cpython-310-pytest-7.1.2.pyc
app/utils/__pycache__/__init__.cpython-310.pyc
app/utils/__pycache__/utils.cpython-310.pyc
app/.coverage
.vscode/settings.json
app/database.db
database.db
app/tests/tests_auth/__pycache__/__init__.cpython-310.pyc
app/tests/tests_auth/__pycache__/test_auth.cpython-310-pytest-7.1.2.pyc
app/crud/__pycache__/__init__.cpython-310.pyc
app/crud/__pycache__/offer_crud.cpython-310.pyc
app/crud/__pycache__/product_crud.cpython-310.pyc
