[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "~=1.4.35"
sqlmodel = "*"
requests = "*"
psycopg2 = "*"

[dev-packages]
mypy = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
